*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
}

header{   
    display: flex; 
    position: fixed;
    justify-content: space-between;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    font-family: "Crimson Text", 'Times New Roman', Times, serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#nav-bar{
    margin-top: auto;
    margin-bottom: auto;
    padding-right: 2em;
}

#nav-bar .nav-links{
    display: inline-block;
    font-size: 20px;
    font-weight: bold; 
    padding: 0 20px;
   
}

.links{
    text-decoration: none;
    color: antiquewhite;  
    font-style: italic;
    font-weight: 500;
    font-size: larger; 
}

.links::after{
   content: "";
   width: 100%;
   height: 5px;
   left: 0;
   background: antiquewhite;
   bottom: -10px;
   border-radius: 50px;
   display: block;
   transform: scale(0);
   transition: 0.3s linear;
   
}

.links:hover::after{
    transform: scale(1);
}


.menu{
    text-decoration: none;
    color: antiquewhite;  
    font-style: italic;
    font-weight: 500;
    font-size: larger;
}

.hamburger{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(10, 10, 10, 0.4);
    backdrop-filter: blur(5px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.hamburger .menu-links{
    width: 100%;
  
}

.hamburger .options{
    width: 100%;
}

#nav-bar .menu-links{
    display: block;
    font-size: 20px;
    font-weight: bold; 
    padding: 20px 20px;
   
}

.options{
    text-decoration: none;
    color: antiquewhite;  
    font-style: italic;
    font-weight: 500;
    font-size: larger; 
}

.menu-links:hover{
    background-color: rgba(250, 235, 215, 0.);
    backdrop-filter: blur(5px);
}

.company-name{
    color: antiquewhite;  
    font-style: italic;
    font-weight: 500;
    font-size:x-large;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;  
   
}

.home-link{
    text-decoration: none;
    color:antiquewhite;
}

.logo{
    margin-left: 100px;
    width: 10%;
    
}


.intro{
    display: flex;
    width: 100%;
    height: 600px;
    background-image: url(services-image.jpg);
    background-size: cover;
}

.intro-text{    
    color: antiquewhite;
    font-size: 100px;
    font-family: "Crimson Text", 'Times New Roman', Times, serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    margin: auto;
}

.Services{
    display: flex;
    justify-content: center;
    font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.service-card{
    display: flex;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    width: 70rem;
    height: 30rem;;
}

.service-img{
    width: 50%;
}

.service-img img{
    width: 100%;
    height: 100%;
}

.service-desc{
    padding: 20px 0 0 40px ;
    width: 35rem;

}

.service-desc h3{
    font-size:xx-large;
    font-weight:300;
    font-style: normal;     
    color: rgb(97, 37, 38);
    background-color: rgba(297, 37, 38, 0.3);
    border-radius: 8px;
    text-align: center;
    padding: 0 10px;
    width: 45%;
}


.service-desc p{
    padding-top: 50px;
    padding-right: 10px;
    word-break: normal;
    white-space: normal;
    font-weight:500;
    font-size: x-large;
}

.service-img-flipped{
    width: 50%;
}

.service-img-flipped img{
    width: 100%;
    height: 100%;
}

.service-desc-flipped{
     padding: 20px 0 0 40px ;
    width: 35rem;
}

.service-desc-flipped h3{
    font-size:xx-large;
    font-weight:300;
    font-style: normal;     
    color: #312c2c;
    background-color: rgba(49, 44, 44, 0.3);
    border-radius: 8px;
    text-align: center;
    padding: 0 10px;
    width: 40%;
}

.service-desc-flipped p{
    padding-top: 50px;
    padding-right: 10px;
    word-break:normal;
    white-space: normal;
    font-weight: 500;
    font-size: x-large;
}

.contact-form{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "Crimson Text", 'Times New Roman', Times, serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: antiquewhite;
    width: 100%;
    padding: 100px 0 100px 0; 
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    background-color: #612526;
    text-align: center;
    
}

.contact-left{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;   
    background-image: url(contact-img.jpg);
    background-size: cover;
    width: 50%;
    padding: 50px;
    border-radius: 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 10px;
}

.contact-form hr{
    width: 150px;
    height: 5px;
    border: none;
    background-color: antiquewhite;
    border-radius: 8px;
    margin-top: -20px;
    margin-bottom: 20px;
}

.contact-input{
    width: 20vw;
    height: 50px;
    border-radius: 40px;
    background-color: antiquewhite;
    border: none;
    box-shadow: inset -2px -2px 5px rgba(0, 0, 0, 0.5);
    padding: 0 10px;
}

.contact-input:hover{
    border: 2px solid #312c2c; 
}

.contact-input::placeholder{
    color: #312c2c;
    padding-top: 10px;
    padding-left: 10px;
    font-family: "Crimson Text", 'Times New Roman', Times, serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 400;
}

.contact-left button{
    width: 10rem;
    height: 50px;
    background-color: #312c2c;
    border-radius: 50px;
    border: none;
    color: antiquewhite;
    font-size: 20px;
    font-family: "Crimson Text", 'Times New Roman', Times, serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
}

.contact-left button:hover{
    background: linear-gradient(90deg, #312c2c, transparent);
}

    
footer{
    background-color: #312c2c;
    text-align: center;
      
}

footer img{
    width: 15%;
}

footer p{
    color: antiquewhite;
    font-size: 20px;
    font-family: "Crimson Text", 'Times New Roman', Times, serif, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
    margin: 20px;   
}

.icon{
    margin-left: -20px;
}

.fa-facebook{
    color: antiquewhite; 
    margin: 20px;
}

.fa-facebook::after{
    content: " ";
    height: 20px;
    border: 3px solid #612526;
    margin-left: 20px;
}
.fa-instagram{
    color: antiquewhite;
    margin-bottom: 50px;
}



header .fa-bars{
    display: none;
}

header .fa-bars:hover{
    color: rgba(250, 235, 215, 0.3)
}

@media (max-width: 1129px){
    .service-card{
        width: 50rem;
    }
}

@media (max-width: 1066px){
    .logo{
        display: none;
    }

    header{
        height: 100px;
    }   
    
    .company-name{
        margin-left: 30px;
    }

}

@media (max-width: 1045px){
    #nav-bar .nav-links{
        padding: 10px;
    }
}


@media (max-width: 900px){
    .contact-input{
        width: 80%;
    }
}

@media (max-width: 886px){
    .links{
        display: none;
    }

    header .fa-bars{
        display: block;
    }
        
}

@media (max-width: 815px){
    
    .service-card{
        width: 80%;
        height: auto;
    }
    
    .service-img{
        display: none;
    }
    
    .service-desc{
        text-align: center;
        justify-content: center;
        padding: 0%;
        width: 100%;
        margin: 20px;
    }

    .service-desc h3{
        width: 50%;
        margin-top: 20px;
        margin: 0 auto;
        
    }

    .service-desc p{
        margin-bottom: 20px;   
    }

    
    
    .service-img-flipped{
        display: none;
    }
    
    .service-desc-flipped{
        text-align: center;
        justify-content: center;
        padding: 0%;
        width: 100%;
        margin: 20px;
    }

    .service-desc-flipped h3{
        width: 50%;
        margin-top: 20px;
        margin: 0 auto;
    }

    .service-desc-flipped p{
        margin-bottom: 20px;   
    }
}



@media (max-width: 485px){
    .intro-text{
        font-size: 50px;
    }
}

@media (max-width: 449px){
    .service-desc h3{
        font-size: 20px;
        font-weight: bold;
    }

    .service-desc-flipped h3{
        font-size: 20px;
        font-weight: bold;

    }

    .contact-left{
        width: 90%;
    }
}

